@page
@model BlazorTrainingNov.Pages.Modul5.IndexModel
@{
}
<form method="post" >
    <input type="text" required name="test" />
     <input type="range" min="10" max="180" name="test"/>
     <button type="submit">ok</button>


</form>
