<h3>OnEnter</h3>
<form>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" @bind="_suche">
        <button class="btn btn-outline-secondary" type="submit" @onclick="suche">suche</button>
    </div>
</form>

@code {
    string _suche;
    void suche()
    {
        
    }
}
