@page "/events"
<h3>ComponentEvents</h3>
<button @onclick="test">test</button> 

@code {
    void test()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
    
    }
    protected override void OnInitialized()
    {
     
    }
}
