@page "/todo"
@inject IHttpClientFactory http
<h3>TodoView</h3>
<button class="btn btn-outline-danger" @onclick="laden">laden</button>
<div class="input-group mb-3">
    <input type="text" class="form-control" @bind-value="filter" @bind-value:event="oninput">
    <button class="btn btn-outline-secondary" type="button">save</button>
</div>
<ul class="list-group">
    @if (Liste == null)
    {
        <li class="list-group-item list-group-item-danger">keine Daten</li>
    }
    else
    {
        @foreach (var item in Liste.Where(x=>x.title.Contains(filter)))
        {
            <li class="list-group-item">@item.title</li>
        }
    }
</ul>

@code {
    List<TodoModel> Liste;
    string filter="";
    async Task laden()
    {
        using var client = http.CreateClient();
        {
            Liste = await client.GetFromJsonAsync<List<TodoModel>>("https://jsonplaceholder.typicode.com/todos");
        }

    }

}
